@font-face {
    font-family: Noto-Serif;
    src: url(../font/Noto_Serif_TC/NotoSerifTC-Regular.otf);
}
@font-face {
    font-family: Noto-Serif;
    src: url(../font/Noto_Serif_TC/NotoSerifTC-Bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: Noto-Serif;
    src: url(../font/Noto_Serif_TC/NotoSerifTC-Medium.otf);
    font-weight: 500;
}
@font-face {
    font-family: Noto-Serif;
    src: url(../font/Noto_Serif_TC/NotoSerifTC-SemiBold.otf);
    font-weight: 600;
}
@font-face {
    font-family: Noto-Serif;
    src: url(../font/Noto_Serif_TC/NotoSerifTC-Light.otf);
    font-weight: 300;
}

@font-face {
    font-family: Open-Sans;
    src: url(../font/Open_Sans/OpenSans-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Open-Sans;
    src: url(../font/Open_Sans/OpenSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Open-Sans;
    src: url(../font/Open_Sans/OpenSans-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Open-Sans;
    src: url(../font/Open_Sans/OpenSans-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Open-Sans;
    src: url(../font/Open_Sans/OpenSans-Bold.ttf);
    font-weight: 700;
}

div{
    font-family: Noto-Serif;
}