body {
    font-family: "Microsoft JhengHei", sans-serif;
}

.banner-wrapper{
    padding: 0 3em;
    overflow: hidden;
}


.banner-img{
    width: 100%;
}

.img-container{
    height: 20em;
    overflow: hidden;
}

.begin-story{
    background-color: #ffffff;
}

.begin-title{
    font-weight:bold;
}

.wrapper{
    padding-top: 3em;
    padding-bottom: 3em;
}

.flex-box-jc{
    display: flex;
    justify-content: center;
}

#op1{
    background-image: url("../img/test.jpg");
}

.op{
    position: relative;
    background-position: center;
    background-size: cover;
}

.op-text{
    color: #ffffff;
    text-align: center;
    z-index: 1;
}

.op-cards{
    position: relative;
    z-index: 1;
    width: 80%;
}

.op-card{
    background-color: white;
    margin-top: 0.35em;
    margin-bottom: 0.35em;
    padding: 1em;
    text-align: center;
    border-radius: 0.4em;
}

.op-card > img{
    width: 100%;
}


.op:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.slick-next:before, .slick-prev:before{
    color: #808080 !important;
}

.content{
    background-color: #f1eee9;
    padding: 1.7em;
}

.content > div{
    border-radius: .6em;
    overflow: hidden;
}


/* @media (min-width: 992px) {
    .wrapper{
      padding-left: 10em !important;
      padding-right: 10em !important;
    }
} */

@media (max-width:991px){
    #navTitle{
        display: none;
    }
}

/* .nav-on-top{
    display: flex;
    align-items: center;
}

.nav-on-top-logo{
    width: 6em;

} */

/* .banner-container{
    height: 45em;
    overflow: hidden;
} */

/* .banner{
    margin-top: -12em;
    margin-top: 12em;
    width: 100%;
} */